.carrito-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flexbox;
  }
  
  .carrito-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .carrito-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .carrito-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .carrito-item-info {
    flex: 1;
  }
  
  .carrito-item-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .carrito-item-price {
    font-size: 18px;
    color: #28a745;
    margin-bottom: 5px;
  }
  
  .carrito-item-quantity {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .carrito-item-buttons {
    display: flex;
    align-items: center;
  }
  
  .btn-remove {
    background-color: #ac8383;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .btn-remove:hover {
    background-color: #c82333;
  }
  
  .btn-add {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-add:hover {
    background-color: #218838;
  }
  
  .carrito-total {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .btn-carrito {
    background-color: rgb(76, 111, 175);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-go-to-pay:hover {
    background-color: #218838;
  }
  